<div class="row">  
  <div class="col-md-4 bg-success py-3">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group field">
        <%= f.label :user_name, class: 'fs-xs' %><br />
        <%= f.text_field :user_name, autofocus: true, class: 'form-control', placeholder: 'User Name' %>
      </div>

      <div class="form-group field">
        <%= f.label :email, class: 'fs-xs' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group field">
        <%= f.label :password, class: 'fs-xs' %> <i class="fs-xs">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'password' %>
        <% if @minimum_password_length %>
          <br />
          <em class="fs-xs"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group field">
        <%= f.label :password_confirmation, class: 'fs-xs' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control fs-xs', placeholder: 'password' %>
      </div>

      <div class="form-group field">
        <%= f.label :current_password, class: 'fs-xs' %> <i class="fs-xs">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: 'Current Password' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-sm btn-success' %>
      </div>
    <% end %>

    <div class="mt-3">
    <h6>Unhappy? Cancel my account</h6>

    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-sm btn-danger' %></p>
    </div>
    <%= link_to "Back", :back %>
  </div>


  <div class="col-md-8">
    <h3 class="mb-5">All psts published by <span class="text-danger font-weight-bold"><%= @user.user_name %></span></h3>
    <div class="row">
      <% current_user.posts.each do |p| %>
      <div class="col-md-6">
        <div class="card mb-3 bg-primary">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">
              <%= link_to p.title, post_path(p), class: 'text-white' %>
            </h6>
            <p class="card-text"><%= truncate(p.content, length: 40) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


  
