<div class="col-md-6 offset-md-3">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true, class: 'form-control', placeholder: 'User Name' %>
  </div>
  
  <div class="form-group field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email' %>
  </div>

  <div class="form-group field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'password' %>
  </div>

  <div class="form-group field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'password' %>
  </div>

  <div class="form-group actions">
    <%= f.submit "Sign up", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>