<div class="row">
  <% @users.each do |u| %>
  <div class="col-md-4">
    <div class="card mb-3">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title"><%= link_to u.user_name, user_path(u) %></h4>
        <p class="card-text"><%= link_to u.email %></p>
      </div>
      <div class="card-footer">
        <span>Number of posts</span>
        <strong><%= u.posts.count %></strong>
      </div>
    </div>
  </div>
  <% end %>
</div>