<div class="row">
  <div class="col-md-4">
    <div class="card bg-warning>
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title"><%= @user.user_name %></h4>
        <p class="card-text"><%= @user.email %></p>
        <% if user_signed_in? && (current_user.id == @user.id) %>
          <%= link_to  "Edit Profile", edit_user_registration_path %>
        <% end %>
      </div>
      <div class="card-footer">
        <span>Number of posts</span>
        <strong><%= @user.posts.count %></strong>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Posts created By <%= @user.user_name %> </h2>
      </div>
      <% @user.posts.each do |p| %>
      <div class="col-md-4">
        <div class="card bg-warning mb-3">
          <img class="card-img-top" src="holder.js/100px180/" alt="">
          <div class="card-body">
            <h6 class="card-title"><%= p.title %></h6>
            <p class="fs-sm card-text"><%= truncate(p.content, length: 100) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>