<div class="col-md-6 offset-md-3">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email' %>
  </div>

  <div class="form-group actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>