<% if @post.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h5 class="mb-3">The Following
      <%= pluralize(@post.errors.count, 'errors') %>
      Preventing this post to be published.
    </h5>
    <ul class="list-group list-group-flush">
      <% @post.errors.full_messages.each do |msg| %> 
        <li class="list-group-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

