<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <span class="text-white">All right reserved &copy; 2018 
        <%= link_to 'sm ehsan', root_path, class: 'text-danger' %>
      </span>
    </div>
  </div>
</div>