<nav class="navbar navbar-expand navbar-dark bg-secondary sticky-top">
  <div class="container">
    <%= link_to  "Simple Blog", root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to  "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to  "About", about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Contact", contact_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to  "blog", blog_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <% if user_signed_in? %>
            <%= link_to  "Profile", user_path(current_user), class: 'dropdown-item' %>
            <%= link_to  "New Post", new_post_path, class: 'dropdown-item' %>
            <%= link_to  "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to  "Sign In", new_user_session_path, class: 'dropdown-item' %>
            <%= link_to  "Sign Up", new_user_registration_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>