<div class="row">
  <div class="jumbotron bg-danger text-center w-100">
    <h1 class="display-3 font-weight-bold">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-outline-light" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
  </div>
</div>
<div class="mb-3">
  <div clas="col-md-12">
    <h3>Latest posts from blog.</h3>
  </div>
</div>
<div class="row mb-5">
  <% @posts.each do |post| %>
  <div class="col-md-3">
    <div class="card mb-5">
      <% if post.image.attached? %>
        <%= link_to post_path(post) do %>
          <%= image_tag post.image, class: 'card-img-top img-fluid' %>
        <% end  %>
      <% end %>
      <div class="card-body">
        <h6 class="card-title font-weight-bold">
          <%= link_to post.title, post_path(post) %>
        </h6>
        <p class="card-text">
          <%= truncate(post.content, length: 50) %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= time_ago_in_words(post.created_at) %> Ago</small>
      </div>
    </div>
  </div>
  <% end %>
</div>