<div class="col-md-6 offset-md-3">
<h2>Log in</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-group field">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'username or email' %>
  </div>

  <div class="form-group field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions form-group">
    <%= f.submit "Log in", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>