<%= render "shared/errors" %>
<%= form_for @post do |f| %>
  <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
  </div>
  <div class="form-group">
      <%= f.file_field :image, class: 'file-control', placeholder: 'Image' %>
  </div>
  <div class="form-group">
      <%= f.text_area :content, class: 'form-control', size: '10x10', placeholder: 'Post Content'%>
  </div>
  <%= f.submit(@post.new_record? ? "Publish" : "Update Post", class: 'btn btn-success btn-sm') %>
  <%= link_to 'Cancle', blog_path, class: 'btn btn-warning btn-sm' %>
<% end %>
