<div class="row my-5">
  <div class="col-md-12">
    <% @posts.each do |post| %>
    <div class="card mb-5">
      <div class="row">
        <div class="col-md-4">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">
              <%= link_to post.title, post_path(post) %> 
            </h6>
            <p class="card-text">
              <%= truncate(post.content, length: 100) %>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-white badge badge-info"><%= time_ago_in_words(post.created_at) %> Ago</small>
            <small class="text-white badge badge-info">
              Posted By: 
              <%= post.user.user_name %>
            </small>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to  "Edit", edit_post_path(post), class: 'btn btn-sm btn-primary ml-3' %>
              <%= link_to  "Delete", post_path(post), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%== pagy_nav_bootstrap(@pagy) %>
  </div>
</div>