<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card mb-5">
      <div class="card-header">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, class: 'img-fluid' %>
        <% end %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @post.title %></h4>
        <p class="card-text"><%= simple_format(@post.content) %></p>
      </div>
      <div class="card-footer text-muted">
        <span class="badge p-2 badge-primary">Published <%= time_ago_in_words(@post.created_at) %> Ago</span> 
        <%= link_to  "Back to blog", blog_path, class: 'btn btn-sm btn-warning ml-2' %>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to  "Edit", edit_post_path(@post), class: 'btn btn-sm btn-success ml-2' %>
          <%= link_to  "Delete", post_path(@post), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>