<!DOCTYPE html>
<html>
  <head>
    <title>Appone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Krub:300,400,500,700" rel="stylesheet">
  </head>

  <body>
    <%= render  "shared/navbar" %>
    <div class="container mt-5">
      <%= render  "layouts/messages" %>
      <%= yield %>
    </div>
    <footer class="footer bg-secondary py-2 mt-5">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
